@font-face {
    font-family: 'Oswald';
    src: url(../docs/oswald/Oswald-Regular.ttf) format('ttf');
}

body, html {
    margin: 0px;
    overflow-x: hidden;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

body {
    padding: 6px;
    width: calc(100% - 12px);
}

h1 {
    margin: 0px;
    line-height: 1;
}

html {
    width: 100%;
}

p {
    margin: 0px;
}

.line {
    background: #ffffff44;
    height: 24px;
    margin: -24px 0px 0px 12px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.animate .line {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.noScroll {
    overflow: hidden;
}

@media only screen and (min-width: 960px) {
    body {
        padding: 12px;
        width: calc(100% - 24px);
    }
}